/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#buttonGreen {
	-fx-background-color: rgb(179,230,179);
}

#buttonRed {
	-fx-background-color: rgb(255,102,102)
}
